<p id="notice"><%= notice %></p>

<%= form_for @front_search_condition, as: :sc, url: '/demos', :method => :get do |f| %>
<li><%= f.text_field :name %></li>
<li><%= f.text_field :title %></li>
<li><%= f.text_field :price %></li>
<li><%= f.select('prefecture_type_id', options_from_collection_for_select(@prefectures, 'id', 'name', params[:sc][:prefecture_type_id].to_i), :include_blank => true) %></li>
<%= f.submit %>
<% end %>

<% session[:cart].each do |key,value| %>
<%= key %>:::::::::::::::::::::::::<%= value %>
<br/>
<% end %>

<% @items.each do |item| %>
[<%= item.item_code %>:::<%= item.item_name %>]
<%= link_to 'カート追加', controller: "demos", action: "addcart", sc: item.shop_code, ic: item.item_code %>
<%= link_to 'カート削除', controller: "demos", action: "removecart", sc: item.shop_code, ic: item.item_code %>
<br/>
<% end %>
<%= link_to 'クリア', controller: "demos", action: "clearcart" %>
<br/>

<%= link_to '更新', {controller: "demos", action: "timesupdate"}, remote: true, format: 'js' %>
<div id="result">
  aaaaaaaaaa
</div>

<div id="cli">
  click&nbsp;click&nbsp;click
</div>
aaaaaaaaaaaa
<div id="testes">
  はっひふっへほー
</div>

<%= paginate @demos %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Price</th>
      <th>Prefecture</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @demos.each do |demo| %>
    <tr>
      <td><%= link_to demo.name, edit_demo_path(demo) %></td>
      <td><%= demo.title %></td>
      <td><%= demo.format_price %></td>
      <td><%= demo.prefecture_type.name %></td>
      <td><%= demo.thumnails %></td>
      <td><%= link_to 'Destroy', demo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Update Time', '/demos/timesupdate' %>
<%= link_to 'New Demo', new_demo_path %>
